@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="about">
    <div id="aboot">
        <h2>About me</h2>
        <p>I was born in Porland, OR and lived here most of my life. I attended Oregon State Univeristy where I earned my BS in New Media Communication. After graduation I moved back to Portland and ended up making friends with some people who played at a local open mic. Thus I became part of a core group who came every Thursday night for about three years. I look back at this as probably the most fun period my life.</p>
        <h4 class="header">A little something a group of us did:</h4>
        <a href="~/Audio/01 Pretty Little Thing of Beauty.m4a">~/Audio/01 Pretty Little Thing of Beauty.m4a</a>
        <p>Nothing lasts forever and as people moved away and the bar eventually closed the group seperated. One of the guys (Lucas Worley) who hosted the open mic stuck with the dream of being a professional musician and is now the lead singer for a band named <a href="http://www.toothandnail.com/artists/324/Artifex_Pereo/">Artifex Pereo</a> who had a Billboard top 10 album in 2016(Passengers)</p>
        <h4 class="header">What lead me to programming?</h4>
        <p>To quote the third of Clarke's Three Laws: "Any sufficiently advanced technology is indistinguishable from magic"</p>
        <p>My dad bought and assembled a PC back in the mid/late 80's and I was amazed by what it could do. My dad wasn't a programmer but he did understand the components and taught me all he knew about them. As I got older I continued to learn about hardware on my own. After graduating college and getting a job at St. Vincent's Hospital I could finally afford to build my own computer so I did, and have every four to five years since 2006. It has been one of my favorite and most rewarding hobbies.</p>
        <p>The interest I have in hardware eventually bled over into an interest in software and how it works. I was years removed from college and regretting that I hadn't majored in Computer Science so when the opportunity to learn how to program presented it's self I jumped at the chance and have enjoyed it immensely.</p>
        <img class="aboutImg" src="~/Images/me.jpg" />
    </div>
</div>
