@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="welcome">
    <div id="quote">
        <h4>"We are all apprentices in a craft where no one ever becomes a master."</h4>
        <p>~ Ernest Hemingway</p>
    </div>
    <div>

    </div>
</div>