@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="welcome">
    <div id="intro">
        <h2>A few people who have inspired me at some point in life</h2>
    </div>
    <div id="quote">
        <h4>"We are all apprentices in a craft where no one ever becomes a master."</h4>
        <p>~ Ernest Hemingway</p>
    </div>
    <div>
        <img class="indexImg" src="~/Images/jimi.jpg" />
        <img class="indexImg" src="~/Images/kurtcobain.jpg" />
        <img class="indexImg" src="~/Images/mikemorhaime.jpg" />
        <img class="indexImg" src="~/Images/georgecarlin.jpg" />
    </div>
</div>
<audio controls autoplay>
    <source src="~/Audio/11%20Paint%20by%20Number.mp3" type="audio/mpeg" />
</audio>
